# Ignorer les dossiers et fichiers système Windows
.DS_Store
Thumbs.db
desktop.ini
ntuser.*
AppData/
OneDrive/
Bureau/
Documents/
Downloads/
Pictures/
Videos/
Music/
Saved Games/
Searches/
Tracing/

# Ignorer les fichiers de VS Code
.vscode/
*.log

# Ignorer les environnements Python
venv/
monenv/
__pycache__/

# Ignorer les fichiers générés
generated_documents/
*.pdf
*.docx
*.txt
